<!doctype html>
<html lang="tr">
    <head>
        <%- include('partials/header') -%>
    </head>
    <body>
        <header>
            <div class="container">
                <h1><%=currentRes.stream.name.toLocaleUpperCase()%> AKIŞ RAPORU</h1>
                <div class="middle">
                    <span><%=start_date%> - <%=end_date%></span>
                    <hr/>
                </div>
                <div class="brand">
                    <div class="logo">
                        <img src="/logo.png" alt="">
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <h1>BLOG FORUM ANALİZİ</h1>
                <div class="text">
                    <p style="text-align: justify !important;">
                        <b><%=start_date%></b> – <b><%=end_date%></b> tarihleri arasında <b><%=currentRes.stream.name%></b> adlı akışınızda toplam <b><%=currentResToplam%></b> içerik bulunmuştur.
                        İçeriklerin toplamında bir önceki aralığa göre <%=oran%> mevcuttur.
                        Blog Forum Analizi ile ilgili detaylı grafikler aşağıda yer almaktadır.
                    </p>
                </div>
                <h3>Zamana Göre Toplam Gönderi Sayıları</h3>
                <div id="timeLineChart" class="chart"></div>

                <h3>Günlük Gönderi Dağılımı</h3>
                <div id="dailyChart" class="chart"></div>
            </div>
        </main>
        <script>
            let optionsTimeLineChart = {
                chart: {
                    type: 'line',
                    height: 420,
                    width: 800,
                    toolbar: {
                        show: false
                    },
                    dataLabels: {
                        enabled: true,
                    }
                },
                series: [{
                    name: 'Seçilen aralık',
                    data: [<% for(var i=0; i < currentRes.stats.length; i++) { %> <%= currentRes.stats[i].doc_count %>,<% } %>]
                }, {
                    name: 'Önceki aralık',
                    data: [<% for(var i=0; i < lastWeekRes.stats.length; i++) { %> <%= lastWeekRes.stats[i].doc_count %>,<% } %>]
                }],
                xaxis: {
                    categories: [<% for(var i=0; i < currentRes.stats.length; i++) { %> '<%= currentRes.stats[i].key_as_string.split("T")[0] %>',<% } %>]
                },
                colors: colors,
                markers: {
                    size: 5
                }
            }
            let chartTimeLineChart = new ApexCharts(document.querySelector('#timeLineChart'), optionsTimeLineChart)
            chartTimeLineChart.render()
            //Second Chart
            let optionsDailyChart = {
                chart: {
                    height: 420,
                    width: 800,
                    type: 'bar',
                    toolbar: {
                        show: false
                    },
                    dataLabels: {
                        enabled: true,
                    },
                    parentHeightOffset: -5
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        distributed: false,
                        endingShape: 'flat',
                        columnWidth: '70%',
                        dataLabels: {
                            position: 'top',
                        },
                    },
                },
                dataLabels: {
                    enabled: true,
                    offsetY: -10,
                    formatter: function (val) {
                        return val;
                    },
                    style: {
                        fontSize: '12px',
                        colors: ['#444444']
                    },
                },
                series: [{
                            name: 'Önceki Aralık',
                            data: [<% for(var i=0; i < lastWeekRes.stats.length; i++) { %> <%= lastWeekRes.stats[i].doc_count %>,<% } %>]
                        },{
                            name: 'Seçilen Aralık',
                            data: [<% for(var i=0; i < currentRes.stats.length; i++) { %> <%= currentRes.stats[i].doc_count %>,<% } %>]
                        }],
                xaxis: {
                    categories: [<% for(var i=0; i < currentRes.stats.length; i++) { %> '<%= currentRes.stats[i].day %>',<% } %>],
                },
                colors: colors,
            }
            let chartDailyChart = new ApexCharts(document.querySelector('#dailyChart'), optionsDailyChart);
            chartDailyChart.render();
        </script>
        <div style="page-break-before: always;"></div>
        <!-- Second Page -->
        <header>
            <div class="container">
                <h1><%=currentRes.stream.name.toLocaleUpperCase()%> AKIŞ RAPORU</h1>
                <div class="middle">
                    <span><%=start_date%> - <%=end_date%></span>
                    <hr/>
                </div>
                <div class="brand">
                    <div class="logo">
                        <img src="/logo.png" alt="">
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <h3>En Fazla İçerik Çıkan Kaynaklar</h3>
                <hr>
                <center>
                    <ul>
                        <% for(var i=0; i < popularForumBlogCountRes.stats.sources.length; i++) { %>
                            <li>
                                <span class="divLeft"><%= popularForumBlogCountRes.stats.sources[i].source.name %></span>
                                <span class="divRight"><%= popularForumBlogCountRes.stats.sources[i].doc_count %></span>
                            </li>
                        <% } %>
                    </ul>
                </center>
                <h3>En fazla İçerik oluşan Başlıklar</h3>
                <div class="grid-container">
                    <% for(var i=0; i < populerForumBlogsRes.documents.length; i++) { %>
                        <div class="item1">
                            <img src="<%= populerForumBlogsRes.documents[i].source.favicon %>" style="width: 8%; float: left; border-radius: 50%;" onerror="this.src='/blog.svg'">
                            <div style="text-align: left;font-size: 10px;margin-left: 75px;">
                                <b><%= populerForumBlogsRes.documents[i].title %></b>
                                <br>
                                <%= populerForumBlogsRes.documents[i].content.substring(0, 400) %>...
                                <br><br>
                                <div><a href="<%= populerForumBlogsRes.documents[i].original_url %>" target="_blank"><%= populerForumBlogsRes.documents[i].source.name %></a></div>
                                <div style="text-align: right;"><%= moment(populerForumBlogsRes.documents[i].created_at).format('DD.MM.YYYY HH:mm:ss') %></div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </main>
    </body>
</html>