<!doctype html>
<html lang="tr">
    <head>
        <%- include('partials/header') -%>
    </head>
    <body>
        <header>
            <div class="container">
                <h1>BLOG FORUM ANALİZİ AKIŞ RAPORU</h1>
                <div class="middle">
                    <span><%=start_date%> - <%=end_date%></span>
                    <hr/>
                </div>
                <div class="brand">
                    <div class="logo">
                        <img src="/logo.png" alt="">
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <h1>BLOG FORUM ANALİZİ ANALİZİ</h1>
                <div class="text">
                    <p style="text-align: justify !important;">
                        <b><%=start_date%></b> – <b><%=end_date%></b> tarihleri arasında <b><%=currentRes.stream.name%></b> adlı akışınızda toplam <b><%=currentResToplam%></b> içerik bulunmuştur.
                        İçeriklerin toplamında bir önceki haftaya göre <%=oran%> mevcuttur.
                        Blog Forum Analizi ile ilgili detaylı grafikler aşağıda yer almaktadır.
                    </p>
                </div>
                <h3>Zamana Göre Toplam Gönderi Sayıları</h3>
                <div class="chart time-line-chart"></div>

                <h3>Günlük Gönderi Dağılımı</h3>
                <div id="instagram-daily-chart" class="chart" data-values='{&quot;labels&quot;:[&quot;Cumartesi&quot;,&quot;Pazar&quot;,&quot;Pazartesi&quot;,&quot;Sal\u0131&quot;,&quot;\u00c7ar\u015famba&quot;,&quot;Per\u015fembe&quot;,&quot;Cuma&quot;],&quot;values&quot;:[{&quot;name&quot;:&quot;Se\u00e7ilen aral\u0131k&quot;,&quot;data&quot;:[35695,35627,34868,38794,37154,37532,35341]},{&quot;name&quot;:&quot;\u00d6nceki aral\u0131k&quot;,&quot;data&quot;:[37939,41049,39852,40246,40335,38931,35659]}]}'></div>
            </div>
        </main>
        <script>
        $(function () {
            let timeLineChart = document.querySelectorAll('.time-line-chart')
            timeLineChart.forEach(element => {
                let options = {
                    chart: {
                        type: 'line',
                        height: 420,
                        width: 800,
                        toolbar: {
                            show: false
                        },
                        dataLabels: {
                            enabled: true,
                        }
                    },
                    series: [{
                        name: 'Seçilen aralık',
                        data: [<% for(var i=0; i < currentRes.stats.length; i++) { %> <%= currentRes.stats[i].doc_count %>,<% } %>],
                        backgroundColor: "#afafaf3d",
                        borderColor: "black",
                        borderWidth: 2
                    }, {
                        name: 'Önceki aralık',
                        data: [<% for(var i=0; i < lastWeekRes.stats.length; i++) { %> <%= lastWeekRes.stats[i].doc_count %>,<% } %>],
                        backgroundColor: "#fff70038",
                        borderColor: ["red"],
                        borderWidth: 2
                    }],
                    xaxis: {
                        categories: [<% for(var i=0; i < currentRes.stats.length; i++) { %> '<%= currentRes.stats[i].key_as_string.split("T")[0] %>',<% } %>]
                    },
                    yaxis: {
                        show: true,
                        min: 0,
                        forceNiceScale: true,
                    },
                    colors: ['#df8244', '#4d73be'],
                    markers: {
                        size: 5
                    },
                    legend: {
                        show: true,
                        labels: {
                            useSeriesColors: true
                        }
                    }
                }
                let chart = new ApexCharts(element, options)
                chart.render()
            })
            //Second Chart
            let instagramDailyChart = document.querySelector('#instagram-daily-chart')
            let optionsInstagramDaily = {
                chart: {
                    height: 420,
                    width: 800,
                    type: 'bar',
                    toolbar: {
                        show: false
                    },
                    dataLabels: {
                        enabled: true,
                    },
                    parentHeightOffset: -5
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        distributed: false,
                        endingShape: 'flat',
                        columnWidth: '70%',
                        dataLabels: {
                            position: 'top',
                        },
                    },
                },
                dataLabels: {
                    enabled: true,
                    offsetY: -10,
                    formatter: function (val) {
                        return val;
                    },
                    style: {
                        fontSize: '12px',
                        colors: ['#444444']
                    },
                },
                stroke: {
                    show: true,
                    width: 1,
                    colors: ['#fff']
                },
                series: [{
                            name: 'Önceki Aralık',
                            data: [<% for(var i=0; i < lastWeekRes.stats.length; i++) { %> <%= lastWeekRes.stats[i].doc_count %>,<% } %>],
                            backgroundColor: "red",
                            borderWidth: 1
                        },{
                            name: 'Seçilen Aralık',
                            data: [<% for(var i=0; i < currentRes.stats.length; i++) { %> <%= currentRes.stats[i].doc_count %>,<% } %>],
                            backgroundColor: "blue",
                            borderWidth: 1
                        }
                    ],
                xaxis: {
                    categories: [<% for(var i=0; i < currentRes.stats.length; i++) { %> '<%= currentRes.stats[i].day %>',<% } %>],
                },
                colors: ['#F47B20', '#005596'],
                legend: {
                    show: true,
                    position: 'bottom',
                    offsetY: 0,
                    labels: {
                        useSeriesColors: true
                    },
                    markers: {
                        width: 12,
                        height: 12,
                        strokeWidth: 0,
                        strokeColor: '#fff',
                        fillColors: undefined,
                        radius: 12,
                        customHTML: undefined,
                        onClick: undefined,
                        offsetX: 0,
                        offsetY: 0
                    },
                },
            }
            let chartInstagramDaily = new ApexCharts(instagramDailyChart, optionsInstagramDaily);
            chartInstagramDaily.render();
        })
        </script>
        <div style="page-break-before: always;"></div>
        <!-- Second Page -->
        <header>
            <div class="container">
                <h1>BLOG FORUM ANALİZİ AKIŞ RAPORU</h1>
                <div class="middle">
                    <span><%=start_date%> - <%=end_date%></span>
                    <hr/>
                </div>
                <div class="brand">
                    <div class="logo">
                        <img src="/logo.png" alt="">
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <h3>En Fazla İçerik Çıkan Kaynaklar</h3>
                <hr>
                <center>
                    <ul>
                        <% for(var i=0; i < popularForumBlogCountRes.stats.sources.length; i++) { %>
                            <li>
                                <span class="divLeft"><%= popularForumBlogCountRes.stats.sources[i].source.name %></span>
                                <span class="divRight"><%= popularForumBlogCountRes.stats.sources[i].doc_count %></span>
                            </li>
                        <% } %>
                    </ul>
                </center>
                <h3>En fazla İçerik oluşan Başlıklar</h3>
                <div class="grid-container">
                    <% for(var i=0; i < populerTweetsRes.documents.length; i++) { %>
                        <div class="item1">
                            <img src="https://linktanitim.com/wp-content/uploads/2019/02/cropped-eksi-sozluk-logo-768x128.png" style="width: 10%; float: left; border-radius: 50%;" onerror="this.style.display='none'">
                            <div style="text-align: left;font-size: 10px;margin-left: 75px;">
                                <b><%= populerTweetsRes.documents[i].source.name %></b>
                                <br>
                                <%= populerTweetsRes.documents[i].content.substring(0, 400) %>...
                                <br><br>
                                <div style="text-align: right;"><%= moment(populerTweetsRes.documents[i].created_at).format('DD.MM.YYYY HH:mm:ss') %></div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </main>
    </body>
</html>