<!doctype html>
<html lang="tr">
    <head>
        <%- include('partials/header') -%>
    </head>
    <body>
        <header>
            <div class="container">
                <h1>HABER AKIŞ RAPORU</h1>
                <div class="middle">
                    <span><%=start_date%> - <%=end_date%></span>
                    <hr/>
                </div>
                <div class="brand">
                    <div class="logo">
                        <img src="/logo.png" alt="">
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <h1>HABER ANALİZİ</h1>
                <div class="text">
                    <p style="text-align: justify !important;">
                        <b><%=start_date%></b> – <b><%=end_date%></b> tarihleri arasında <b><%=currentRes.stream.name%></b> adlı akışınızda toplam <b><%=currentResToplam%></b> içerik bulunmuştur.
                        İçeriklerin toplamında bir önceki haftaya göre <%=oran%> mevcuttur.
                        HABER analizi ile ilgili detaylı grafikler aşağıda yer almaktadır.
                    </p>
                </div>
                <h3>Zamana Göre Toplam Gönderi Sayıları</h3><br>
                <div class="chart time-line-chart"></div>

                <h3>Popüler Kaynaklarda Çıkan Haberlerin Adet Bazlı Değişimi</h3><br>
                <div id="daily-chart" class="chart"></div>
            </div>
        </main>
        <script>
            $(function () {
                let timeLineChart = document.querySelectorAll('.time-line-chart')
                timeLineChart.forEach(element => {
                    let options = {
                        chart: {
                            type: 'line',
                            height: 420,
                            width: 800,
                            toolbar: {show: false},
                            dataLabels: {enabled: true,}
                        },
                        series: [{
                            name: 'Seçilen aralık',
                            data: [<% for(var i=0; i < currentRes.stats.length; i++) { %> <%= currentRes.stats[i].doc_count %>,<% } %>],
                            backgroundColor: "#afafaf3d",
                            borderColor: "black",
                            borderWidth: 2
                        }, {
                            name: 'Önceki aralık',
                            data: [<% for(var i=0; i < lastWeekRes.stats.length; i++) { %> <%= lastWeekRes.stats[i].doc_count %>,<% } %>],
                            backgroundColor: "#fff70038",
                            borderColor: ["red"],
                            borderWidth: 2
                        }],
                        xaxis: {
                            categories: [<% for(var i=0; i < currentRes.stats.length; i++) { %> '<%= currentRes.stats[i].key_as_string.split("T")[0] %>',<% } %>]
                        },
                        colors: ['#df8244', '#4d73be'],
                        markers: {
                            size: 5
                        },
                    }
                    let chart = new ApexCharts(element, options)
                    chart.render()
                })
                //Second Chart
                let dailyChart = document.querySelector('#daily-chart')
                let optionsDaily = {
                    chart: {
                        height: 420,
                        width: 800,
                        type: 'bar',
                        toolbar: {
                            show: false
                        },
                        dataLabels: {
                            enabled: true,
                        },
                        parentHeightOffset: -5
                    },
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            distributed: false,
                            endingShape: 'flat',
                            columnWidth: '20%',
                            dataLabels: {
                                position: 'top',
                            },
                        },
                    },
                    dataLabels: {
                        enabled: true,
                        offsetY: -20,
                        formatter: function (val) {
                            return val + " adet";
                        },
                        style: {
                            fontSize: '12px',
                            colors: ['#444444']
                        },
                    },
                    series: [
                        {
                            data: [<%=currentResToplam %>, <%=lastWeekResTotal %>],
                        }
                    ],
                    xaxis: {
                        categories: ["Şimdiki Aralık","Önceki Aralık"],
                    },
                    colors: ['#F47B20', '#005596'],
                }
                let chartDaily = new ApexCharts(dailyChart, optionsDaily);
                chartDaily.render();
            })
        </script>
        <div style="page-break-before: always;"></div>
        <!-- Second Page -->
        <header>
            <div class="container">
                <h1>HABER ANALİZİ AKIŞ RAPORU</h1>
                <div class="middle">
                    <span><%=start_date%> - <%=end_date%></span>
                    <hr/>
                </div>
                <div class="brand">
                    <div class="logo">
                        <img src="/logo.png" alt="">
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <h3>Popüler Haberler</h3>
                <style>
                    .grid-container {
                        display: grid;
                        grid-template-columns: 50% 49% ;
                        grid-gap: 10px;
                        background-color: #2196F3;
                        padding: 10px;
                    }
                    .grid-container > div {
                        background-color: rgba(255, 255, 255, 0.8);
                        text-align: center;
                        padding: 20px 0;
                        font-size: 30px;
                    }
                </style>
                <div class="grid-container">
                    <% for(var i=0; i < popularNewsRes.documents.length; i++) { %>
                        <div class="item1">
                            <img src="<%= popularNewsRes.documents[i].source.favicon %>" style="width: 10%;float: left;" onerror="this.style.display='none'"> <!-- onerror="this.src='fallback-img.jpg'"/-->
                            <div style="text-align: left;font-size: 10px;margin-left: 50px;">
                                <b><%= popularNewsRes.documents[i].title %></b>
                                <br>
                                <%= popularNewsRes.documents[i].content.substring(0, 200) %>
                                <br>
                                <div><a href="<%= popularNewsRes.documents[i].original_url %>"><%= popularNewsRes.documents[i].source.domain %></a></div>
                                <div style="text-align: right;"><%= popularNewsRes.documents[i].created_at %></div>
                            </div>
                        </div>
                    <% } %>
                </div>
                <center>
                    <table style="width: 40%;">
                        <tr>
                            <td style="width: 60%; padding-left: 100px;">
                                <table>
                                    <tr>
                                        <td style="text-align:left;">sondakika.com</td>
                                        <td style="text-align: right;width: 100%;">6138</td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width: 60%; padding-left: 100px;">
                                <table>
                                    <tr>
                                        <td>sondakika.com</td>
                                        <td style="text-align: right;width: 100%;">6138</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
        </main>
    </body>
</html>